# Set default behaviour, in case users don't have core.autocrlf set.
* text eol=lf

# Explicitly declare text files we want to always be normalized and converted 
# to native line endings on checkout.
*.md text
*.php text
*.sh text
*.bashrc text
*.bash_profile text
*.html text
*.htm text
*.py text
*.rb text
*.css text
*.js text
*.less text
*.sass text
*.cgi text
*.php text
*.php text
*.php text
*.php text
*.php text
*.php text
*.php text


# Declare files that will always have CRLF line endings on checkout.
#*.sln text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.swf binary
*.gif binary
*.pdf binary
*.ttf binary
*.svg binary
*.eot binary
*.woff binary